body {
  background: #d6d6d5;
  color: #494949;
  padding: 0;
  margin: 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.update-timestamp{
    color:#1e5062;
    font-size:12px;
}